.destination {
  background-image: url("./../../assets/destination/background-destination-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.destination__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5rem;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subtitle {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  font-family: "Afacad Flux", sans-serif;
  font-size: 1.5rem;
  top: 10rem;
  left: 12rem;
}

.subtitle span {
  color: rgba(255, 255, 255, 0.25);
}

.subtitle p {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.hero {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.hero--image__container {
  width: 445px;
  height: 445px;
}

.hero__text--container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 30%;
  color: white;
  font-family: "Afacad Flux", sans-serif;
}

.hero__text--container ul {
  display: flex;
  gap: 0.5rem;
  z-index: 2;
}

.hero__text--container li {
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: border 0.3s ease;
  padding-bottom: 3px;
  cursor: pointer;
}

.hero__text--container li:hover,
li.active {
  border-color: white;
}

.hero__text--container h2 {
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: 700;
}

.hero__text--container p {
  max-width: 400px;
  font-size: 1.2rem;
  font-weight: 300;
}

.hero .hr {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
}

.hero__text--details {
  display: flex;
  gap: 1.5rem;
  text-transform: uppercase;
}

.hero__text--details h3 {
  padding-bottom: 8px;
}

.hero__text--details p {
  font-size: 2rem;
}
