.home {
  background-image: url("./../../assets/home/background-home-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.home__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: rgba(128, 128, 128, 0.9);
  font-family: "Afacad Flux", sans-serif;
  z-index: 2;
}

.home__text--subtitle {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
}

.home__text--content {
  max-width: 400px;
  font-size: 1.2rem;
  font-weight: 300;
}

.home__text--title {
  color: white;
  font-size: 10rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 1rem;
}

.home__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  border-radius: 50%;
  width: 255px;
  height: 255px;
  cursor: pointer;
  overflow: hidden;
  padding: 0;
  transition: all 0.3s ease;
}

.home__button img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: box-shadow 0.3s ease; /* Transition pour l'ombre */
}

.home__button:hover img {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5); /* Ombre sur l'image au survol */
}

.moon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 430px;
  height: 430px;
  background-color: black;
  border-radius: 50%;
  transform: translate(50%, 50%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: all 2s ease;
  opacity: 0;
  z-index: 1;
  filter: blur(8px);
}

.home__button:hover .moon {
  transform: translate(-10%, -10%);
  opacity: 0.5;
}

.home__button--p {
  font-family: "Afacad Flux";
  text-transform: uppercase;
  align-self: flex-end;
  font-size: 2rem;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: black;
  pointer-events: none; /* Empêche le texte d'intercepter les clics */
}
